/* stylelint-disable selector-class-pattern */
@import '@cmsgov/design-system-support/src/settings/index';

/*
Close Icon

Style guide: components.close-icon


Markup:
<svg
  width="22px"
  height="22px"
  viewBox="0 0 22 22"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlnsXlink="http://www.w3.org/1999/xlink"
>
  <title>Close</title>
  <g
    id="Symbols"
    stroke="none"
    strokeWidth="1"
    fill="none"
    fillRule="evenodd"
  >
    <g
      id="Icons/Close"
      transform="translate(-6.000000, -6.000000)"
      fill="#146A5D"
    >
      <path
        d="M18.6874718,17 L27.7667318,7.92073996 C28.0777561,7.60971575 28.0777561,7.10678297 27.7667318,6.79575876 L27.2042412,6.23326816 C26.893217,5.92224395 26.3902843,5.92224395 26.07926,6.23326816 L17,15.3125282 L7.92073996,6.2398857 C7.60971575,5.92886148 7.10678297,5.92886148 6.79575876,6.2398857 L6.23326816,6.8023763 C5.92224395,7.11340051 5.92224395,7.61633328 6.23326816,7.9273575 L15.3125282,17 L6.2398857,26.07926 C5.92886148,26.3902843 5.92886148,26.893217 6.2398857,27.2042412 L6.8023763,27.7667318 C7.11340051,28.0777561 7.61633328,28.0777561 7.9273575,27.7667318 L17,18.6874718 L26.07926,27.7667318 C26.3902843,28.0777561 26.893217,28.0777561 27.2042412,27.7667318 L27.7667318,27.2042412 C28.0777561,26.893217 28.0777561,26.3902843 27.7667318,26.07926 L18.6874718,17 Z"
        id="Path"
      />
    </g>
  </g>
</svg>



*/

/*
React

@react-component CloseSymbol

Style guide: components.close-icon.react
*/
