// Button-specific color overrides are required for as-yet-undiscovered reasons

$button-primary-bg: $color-primary;
$button-primary-bg--hover: $color-primary-darker;
$button-primary-bg--focus: $button-primary-bg--hover;
$button-primary-bg--active: $color-primary-darkest;
