// Font Variable overrides, mostly related to sizing of things.
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Rubik:300,400,600,700');

$rubik-font: 'Rubik', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

$font-sans: 'Rubik';

$display-font-size: 48px;
$title-font-size: 36px;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 21px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$base-font-size: 18px;
