// Specific style overrides that are not easily affected via variables alone.

.ds-display,
.ds-title,
.ds-h1,
.ds-h2,
.ds-h3,
.ds-h4,
.ds-h5,
.ds-h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

.ds-h1 {
  margin-top: 54px;
  margin-bottom: 18px;
}

.ds-h2 {
  margin-top: 36px;
  margin-bottom: 12px;
}

.ds-h3 {
  margin-top: 31.5px;
  margin-bottom: 10.5px;
}

.ds-h4 {
  margin-top: 27px;
  margin-bottom: 9px;
}

.ds-h5 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.ds-h6 {
  font-weight: 400;
  margin-top: 21px;
  margin-bottom: 7px;
}

.ds-title {
  font-weight: 300;
}

.ds-text--lead {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3em;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    color: $color-primary-darker;
  }

  &:active {
    color: $color-primary-darkest;
  }
}
