/* Page utilities (not part of DS) */
.container {
  margin-left: auto;
  margin-right: auto;
}

.preview__grid {
  background-color: #f7f7f7;
  padding: 20px;
}

.ds-u-measure--xwide {
  max-width: 120ex;
}

/* End of utilities */

.ds-c-card {
  display: flex;
  flex-direction: column;
}

/* Equal height cards */
.ds-c-cards {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.ds-c-cards .ds-c-card {
  height: 100%;
}

.ds-c-cards .ds-c-card article {
  height: 100%;
}

/* Include and image in a card */

.ds-c-card figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.ds-c-card figure img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
}

/* DS UTILITIES */

/* Change flex direction */
.ds-u-flex-direction--row {
  flex-direction: row;
}

.ds-u--center {
  margin: 0 auto;
  display: block;
}

/* HR */
.ds-u-transparent {
  background-color: transparent;
  border-color: transparent;
}

.ds-u-space--2 {
  margin: 16px 0;
}

.ds-u-space--3 {
  margin: 24px 0;
}

.ds-u-space--4 {
  margin: 32px 0;
}

.ds-u--stretch {
  width: 100%;
}

/* Shadow https://tailwindcss.com/docs/box-shadow/ */

.ds-u-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.ds-u-shadow--md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.ds-u-shadow--lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.ds-u-shadow--xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.ds-u-shadow--2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.ds-u-shadow--inner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.ds-u-shadow--outline {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.ds-u-shadow--none {
  box-shadow: none;
}


/* borders */

/* Still to do - figure out how to tell the difference if figure is on left or right. Currently only works with left facing figure */

.ds-u-radius--sm {
  border-radius: 3px;
}

/* Vertical Card border */
.ds-c-card.ds-u-radius--sm>figure {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ds-c-card.ds-u-radius--sm>article {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Horizontal image card borders */
.ds-u-flex-direction--row.ds-c-card.ds-u-radius--sm>figure {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ds-u-flex-direction--row.ds-c-card.ds-u-radius--sm>article {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ds-u-radius--md {
  border-radius: 6px;
}

/* Vertical Card border */
.ds-c-card.ds-u-radius--md>figure {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ds-c-card.ds-u-radius--md>article {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Horizontal image card borders */
.ds-u-flex-direction--row.ds-c-card.ds-u-radius--md>figure {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ds-u-flex-direction--row.ds-c-card.ds-u-radius--md>article {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


.ds-u-radius--lg {
  border-radius: 9px;
}

/* Vertical Card border */
.ds-c-card.ds-u-radius--lg>figure {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.ds-c-card.ds-u-radius--lg>article {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

/* Horizontal image card borders */
.ds-u-flex-direction--row.ds-c-card.ds-u-radius--lg>figure {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.ds-u-flex-direction--row.ds-c-card.ds-u-radius--lg>article {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.ds-u-radius--xl {
  border-radius: 12px;
}

/* Vertical Card border */
.ds-c-card.ds-u-radius--xl>figure {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ds-c-card.ds-u-radius--xl>article {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Horizontal image card borders */
/* .ds-u-flex-direction--row.ds-c-card.ds-u-radius--xl>figure {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.ds-u-flex-direction--row.ds-c-card.ds-u-radius--xl>article {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px; 
}*/

.ds-u-flex-direction--row.ds-c-card.ds-u-radius--xl > figure {
  border-radius: 0;
}

.ds-u-flex-direction--row.ds-c-card.ds-u-radius--xl > article{
  border-radius: 0;
}

/* .ds-u-flex-direction--row.ds-c-card.ds-u-radius--xl figure + article {
  border-radius: 0;
}

.ds-u-flex-direction--row.ds-c-card.ds-u-radius--xl article + figure {
  border-radius: 0;
} */