.container {
  margin-left: auto;
  margin-right: auto;
}

.ds-u-measure--xwide {
  max-width: 120ex;
}

.ds-c-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.ds-c-card-image {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  margin-bottom: important!;
}

.ds-c-card.shadow {
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.preview__grid {
  background-color: #f7f7f7;
}

