/*
[Heading]

[Description]

[@Flags]

[Modifiers]

Markup: [filename or inline HTML/EJS]

Style guide: [Reference]

[Documentation and guidance content inline]
*/

.m-c-footer {
  @extend .ds-u-margin-top--3;
  @extend .ds-u-padding--3;
  @extend .ds-u-lg-padding-x--7;
  background-color: $color-gray-lightest;

  a {
    @extend .ds-h6;
    font-family: $font-sans;
    @extend .ds-u-padding-x--2;
    @extend .ds-u-text-decoration--none;
    border-right: 1px solid $color-gray-dark;

    &:first-child {
      @extend .ds-u-padding-left--0;
    }

    &:last-child {
      @extend .ds-u-padding-right--0;
      border-right: 0;
    }
  }
}

.m-c-footer__row {
  @extend .ds-u-display--flex;
  @extend .ds-u-lg-justify-content--between;
  @extend .ds-u-padding-top--3;
  @extend .m-u-flex-direction--column;
  @extend .m-u-sm-flex-direction--row;

  &--reverse {
    @extend .m-u-flex-direction--columnReverse;
    @extend .m-u-sm-flex-direction--row;
  }
}

.m-c-footer__linkRow {
  @extend .m-c-footer__row;
  @extend .m-u-sm-flex-direction--column;
  @extend .m-u-xl-flex-direction--row;
  @extend .ds-u-padding-bottom--3;
  border-color: $color-gray-lighter;
  border-style: solid;
  border-width: 1px 0;
}

.m-c-footer__identityRow {
  @extend .m-c-footer__row;
  @extend .ds-u-justify-content--center;
  @extend .ds-u-sm-justify-content--between;
  @extend .ds-u-align-items--center;
  @extend .m-u-flex-direction--columnReverse;
  @extend .m-u-sm-flex-direction--row;

  @media screen and (max-width: $width-sm) {
    height: auto;
  }

  & > * {
    @extend .ds-u-display--flex;
    @extend .ds-u-justify-content--center;
    @extend .ds-u-align-items--center;
  }
}

.m-c-footer__identityContent {
  @extend .ds-u-display--flex;
  @extend .ds-u-sm-justify-content--between;
  @extend .ds-u-align-items--center;
  @extend .ds-u-margin-bottom--2;
  @extend .ds-u-sm-margin-bottom--0;
  @extend .m-u-flex-direction--column;
  @extend .m-u-sm-flex-direction--row;
}

.m-c-footer__contactAddress {
  font-family: $font-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  @extend .ds-u-margin-left--2;
  @extend .ds-u-margin-top--2;
  @extend .ds-u-sm-margin-top--0;
  max-width: 411px;
}
